@import "nullstyle.scss";

$open: "Open Sans", cursive;
$text: #222;


body{
  color: $text;
  font: 400 16px/24px $open;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}


h2{
  font: 600 24px/32px $open;
  text-transform: uppercase;
  text-align: center;
}
.wrapper{
  display: flex;
  flex-direction: column;
}
.header{
  height: 40px;
  background: #EEE;
}
.main{
  flex: 1 1 auto;
  .sites{
    padding: 40px 0;
    h2{
      margin-bottom: 30px;
    }
    &__block{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
    &__item{
      display: flex;
      flex-direction: column;
      color: $text;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      overflow: hidden;
      transition: all 0.3s ease 0s;
      &:hover{
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
        transition: all 0.3s ease 0s;
      }
    }
    &__img{
      height: 280px;
    }
    &__img img{
      width: 100%;
      height: 100%;
    }
    &__title{
      font-weight: 600;
      padding: 15px 20px 0;
    }
    &__descr{
      padding: 10px 20px 20px 20px;
    }
  }
  .pages{
    padding: 30px 0;
    h2{
      text-align: left;
      margin-bottom: 20px;
    }

    &__list{}
    &__list li{
      margin: 0 0 10px 0;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &__link{
      color: $text;
      &:hover{
        text-decoration: underline;
      }
    }
  }

}
.footer{
  height: 40px;
  background: #EEE;
}




