
@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/font/SFUIDisplay-Thin.eot');
    src: url('../fonts/font/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font/SFUIDisplay-Thin.woff') format('woff'),
    url('../fonts/font/SFUIDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/font/SFUIDisplay-Regular.eot');
    src: url('../fonts/font/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font/SFUIDisplay-Regular.woff') format('woff'),
    url('../fonts/font/SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/font/SFUIDisplay-Ultralight.eot');
    src: url('../fonts/font/SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font/SFUIDisplay-Ultralight.woff') format('woff'),
    url('../fonts/font/SFUIDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/font/SFUIDisplay-Black.eot');
    src: url('../fonts/font/SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font/SFUIDisplay-Black.woff') format('woff'),
    url('../fonts/font/SFUIDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/font/SFUIDisplay-Heavy.eot');
    src: url('../fonts/font/SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font/SFUIDisplay-Heavy.woff') format('woff'),
    url('../fonts/font/SFUIDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/font/SFUIDisplay-Medium.eot');
    src: url('../fonts/font/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font/SFUIDisplay-Medium.woff') format('woff'),
    url('../fonts/font/SFUIDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/font/SFUIDisplay-Bold.eot');
    src: url('../fonts/font/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font/SFUIDisplay-Bold.woff') format('woff'),
    url('../fonts/font/SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/font/SFUIDisplay-Light.eot');
    src: url('../fonts/font/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font/SFUIDisplay-Light.woff') format('woff'),
    url('../fonts/font/SFUIDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/font/SFUIDisplay-Semibold.eot');
    src: url('../fonts/font/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font/SFUIDisplay-Semibold.woff') format('woff'),
    url('../fonts/font/SFUIDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}



@font-face {
    font-family: 'Circe';
    src: url('../fonts/font/Circe-Regular.eot');
    src: url('../fonts/font/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font/Circe-Regular.woff') format('woff'),
    url('../fonts/font/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/font/Circe-Regular_1.eot');
    src: url('../fonts/font/Circe-Regular_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font/Circe-Regular_1.woff') format('woff'),
    url('../fonts/font/Circe-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
