
@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/font/ProximaNova-Regular.eot');
	src: url('../fonts/font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/font/ProximaNova-Regular.woff') format('woff'),
	url('../fonts/font/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GE Inspira';
	src: url('../fonts/font/GEInspira-Italic.eot');
	src: url('../fonts/font/GEInspira-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font/GEInspira-Italic.woff') format('woff'),
		url('../fonts/font/GEInspira-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'GE Inspira';
	src: url('../fonts/font/GEInspira-Bold.eot');
	src: url('../fonts/font/GEInspira-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font/GEInspira-Bold.woff') format('woff'),
		url('../fonts/font/GEInspira-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/font/Roboto-Bold.eot');
	src: url('../fonts/font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font/Roboto-Bold.woff') format('woff'),
		url('../fonts/font/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto';
	src: url('../fonts/font/Roboto-Regular.eot');
	src: url('../fonts/font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font/Roboto-Regular.woff') format('woff'),
		url('../fonts/font/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/font/Roboto-Medium.eot');
	src: url('../fonts/font/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font/Roboto-Medium.woff') format('woff'),
		url('../fonts/font/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'GE Inspira';
	src: url('../fonts/font/GEInspira.eot');
	src: url('../fonts/font/GEInspira.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font/GEInspira.woff') format('woff'),
		url('../fonts/font/GEInspira.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GE Inspira';
	src: url('../fonts/font/GEInspira-BoldItalic.eot');
	src: url('../fonts/font/GEInspira-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font/GEInspira-BoldItalic.woff') format('woff'),
		url('../fonts/font/GEInspira-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}


@font-face {
	font-family: 'Roboto';
	src: url('../fonts/font/Roboto-Light.eot');
	src: url('../fonts/font/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font/Roboto-Light.woff') format('woff'),
		url('../fonts/font/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'GE Inspira';
	src: url('../fonts/font/GEInspira-BoldItalic_1.eot');
	src: url('../fonts/font/GEInspira-BoldItalic_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font/GEInspira-BoldItalic_1.woff') format('woff'),
		url('../fonts/font/GEInspira-BoldItalic_1.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'GE Inspira';
	src: url('../fonts/font/GEInspira-Italic_1.eot');
	src: url('../fonts/font/GEInspira-Italic_1.eot?#iefix') format('embedded-opentype'),
		url('../fonts/font/GEInspira-Italic_1.woff') format('woff'),
		url('../fonts/font/GEInspira-Italic_1.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Roboto';
	src: url('../fonts/font/Roboto-Medium_1.eot');
	src: url('../fonts/font/Roboto-Medium_1.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font/Roboto-Medium_1.woff') format('woff'),
		 url('../fonts/font/Roboto-Medium_1.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/font/Roboto-Regular_1.eot');
	src: url('../fonts/font/Roboto-Regular_1.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/font/Roboto-Regular_1.woff') format('woff'),
		 url('../fonts/font/Roboto-Regular_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto';
	src: url('../fonts/font/Roboto-Light_1.eot');
	src: url('../fonts/font/Roboto-Light_1.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/font/Roboto-Light_1.woff') format('woff'),
		 url('../fonts/font/Roboto-Light_1.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/font/Roboto-Bold_1.eot');
	src: url('../fonts/font/Roboto-Bold_1.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/font/Roboto-Bold_1.woff') format('woff'),
		 url('../fonts/font/Roboto-Bold_1.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GE Inspira';
	src: url('../fonts/font/GEInspira-Bold_1.eot');
	src: url('../fonts/font/GEInspira-Bold_1.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/font/GEInspira-Bold_1.woff') format('woff'),
		 url('../fonts/font/GEInspira-Bold_1.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'GE Inspira';
	src: url('../fonts/font/GEInspira_1.eot');
	src: url('../fonts/font/GEInspira_1.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/font/GEInspira_1.woff') format('woff'),
		 url('../fonts/font/GEInspira_1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



